---
# tasks/install_nginx_plus.yml

- name: create NGINX Plus ssl cert repo directory
  file: path=/etc/ssl/nginx state=directory group=root mode=0700

- name: copy NGINX Plus repository certificate
  copy: src={{ nginxplus_cert_key_path }}nginx-repo.crt dest=/etc/ssl/nginx/nginx-repo.crt owner=root group=root mode=0700

- name: copy NGINX Plus repository key
  copy: src={{ nginxplus_cert_key_path }}nginx-repo.key dest=/etc/ssl/nginx/nginx-repo.key owner=root group=root mode=0700

- name: Add yum NGINX Plus repository
  get_url: url=https://cs.nginx.com/static/files/nginx-plus-7.repo dest=/etc/yum.repos.d/nginx-plus-7.repo mode=0700

- name: Add yum NGINX App Protect Threat Campaigns repository
  get_url: url=https://cs.nginx.com/static/files/app-protect-security-updates-7.repo dest=/etc/yum.repos.d/app-protect-security-updates-7.repo mode=0700

- name: install required package ca-certificates 
  yum:
    name: ca-certificates
    state: latest

- name: install NGINX Plus
  yum:
    name: nginx-plus
    state: latest

- name: install NGINX App Protect
  yum:
    name: app-protect
    state: latest

- name: install NGINX App Protect Threat Campaigns
  yum:
    name: app-protect-threat-campaigns
    state: latest

- name: install NGINX njs module
  yum:
    name: nginx-plus-module-njs
    state: latest

- name: Start NGINX Plus service
  service:
    name: nginx
    state: started
    enabled: yes

