---
#file: roles/api/tasks/pets.yml

- name: Pull an petshop image
  docker_image:
    name: swaggerapi/petstore
    source: pull
  become: true
  
- name: Start a petshop container
  docker_container:
    name: petshop
    image: swaggerapi/petstore
    state: started
    ports:
     - "5000:8080"
    env:
      SWAGGER_HOST: "https://petapi.{{ subdomain }}"
      # Values which might be parsed as numbers, booleans or other types by the YAML parser need to be quoted
      SWAGGER_URL: "https://petapi.{{ subdomain }}"
      SWAGGER_BASE_PATH: "/v2"
  become: true


